@model IEnumerable<_5204_Passion_Project_n01442368_v2.Models.FilmDto>

@{
    ViewBag.Title = "List";
}

<h2>Film</h2>

<div class="create-link pull-right">@Html.ActionLink("Add Film", "Create", null, new { @class = "btn btn-primary" })</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmSeries)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoxSpeed)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmSeries)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoxSpeed)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FilmID }) 
            </td>
        </tr>
    }

</table>



