@model _5204_Passion_Project_n01442368_v2.Models.ViewModels.ListViewModel

@{
    ViewBag.Title = "List";
}

<h2>Photo</h2>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        @using (Html.BeginForm("List", "Photo", FormMethod.Get))
        {

            <div class="input-group filter-list">
                <select name="filmid" id="filmid" class="form-control filter-select">
                    <option value="0">All</option>
                    @foreach (var Film in Model.AllFilms)
                    {
                        <option value="@Film.FilmID">@Film.BrandName @Film.FilmSeries @Film.BoxSpeed</option>
                    }
                </select>
                <span class="input-group-btn">
                    <input type="submit" value="Filter" class="btn btn-default" />
                </span>
            </div>
        }
    </div> 
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        @Html.ActionLink("Add Photo", "Create", null, new { @class = "btn btn-primary create-link" })
    </div>
</div>



<div class="photo-output">
    @foreach (var Photo in Model.AllPhotos)
    {

        string filesrc = "/Content/Photos/default.png";
        string alt = "No photo is uploaded";

        if (Photo.IsPhoto)
        {
            filesrc = "/Content/Photos/" + Photo.PhotoID + "." + Photo.PhotoExtension;
            alt = "Photo of " + Photo.Title;
        }
        <div class="photo-container">
            <div class="photo">
                <a href="@Url.Action("Details", "Photo", new { id = Photo.PhotoID })">
                    <img class="photo-file" src="@filesrc" alt="@alt" />
                </a>
            </div>
            <p>@Photo.Title: @Photo.Description</p>
        </div>
    }
</div>


